.list
  = link_to item_path(item.id), class: "list_link" do
    .list--img
      = image_tag item.images[0].image
        - if item.buyer_id.present?
        .list--img__sold
          .list--img__sold__inner SOLD
  .list__body
    %h3.list__body--name
      = item.name
    .list__body--details
      %ul
        %li
          = "#{item.price}円"
        %li{id: "like_#{item.id}", class: "like_link"}
          = render 'likes/like', item: item
      %p
        (税込)