.items__item
  = link_to item_path(item), data: {turbolinks: "false"} do
    .items__item__image
      = image_tag item.images[0].image.url, alt: "画像"
    .items__item__info
      .items__item__info__name
        = item.name
      .items__item__info__price
        = "¥#{item.price.to_i.to_s(:delimited)}"