= render "modules/header"
%main.show-main
  .center-wrapper
    .item-container
      %h1.item-name
        = @item.name
      .item-container__info
        .item-container__info__image
          .image-show
            = image_tag "#{@item.images[0].image}", alt: "画像"
          .image-list
            - @item.images.each_with_index do |image, i|
              .image-list__item
                = image_tag "#{image.image}", alt: "画像", class: "image-index-#{i}"
        %table.item-container__info__detail
          %tbody
            %tr
              %th
                出品者
              %td
                = link_to @item.user.nickname, "#"
            %tr
              %th
                カテゴリー
              %td
                = link_to @item.category.ancestry, "#"
                = link_to "> #{@item.category.name}", "#"
            %tr
              %th
                商品の状態
              %td
                = @item.status
            %tr
              %th
                発送料の負担
              %td
                = @item.shipping_cost
            %tr
              %th
                発送元地域
              %td
                = @item.prefecture.name
            %tr
              %th
                発送までの日数
              %td
                = @item.shipping_date
      .item-container__price-box
        %span.item-container__price-box__price
          = "¥#{@item.price.to_i.to_s(:delimited)}"
        %span.item-container__price-box__tax
          (税込)
        %span.item-container__price-box__delivery-fee
          = @item.shipping_cost.gsub(/送料込み.+/, "送料込み").gsub(/着払い.+/, "着払い")
      - if current_user.id == @item.user_id
        = link_to "商品の編集", "#", {class: "item-container__edit-btn"}
        %p
        = link_to "この商品を削除する", "#", {class: "item-container__delete-btn"}
      - else
        = link_to "購入画面に進む", item_buy_confirmation_path(item_id: @item.id), {class: "item-container__buy-btn"}
        
      .item-container__explanation
        商品の説明
    .related-items
      %section
        %h2
          = "#{@item.user.nickname}さんのその他の商品"
        .items
          = render partial: 'related_item', collection: @same_user_items, as: "item"
      %section
        %h2
          - if @item.category.ancestry.present?
            = "#{@item.category.name}(#{@item.category.ancestry})その他の商品"
          - else
            = "#{@item.category.name}その他の商品"
        .items
          = render partial: 'related_item', collection: @same_category_items, as: "item"
= render "modules/footer"
